
<ion-content class="auth-page">
    <div class="qr-content">
  
      <!-- Logo -->
      <div text-center class="animated fadeInDown">
          <div class="logo-chico"></div>
          <h4 ion-text class="text-primary">
            <strong>Registro de Visitantes</strong>
          </h4>
        </div>
  
      <!-- Login form -->
      <div class="list-form">

          <div class="text-center" style="margin-left: 10px;">
              <qrcode [qrdata]="QR" [size]="256" [level]="'M'"></qrcode>
          </div>

          <ion-item>              
              <ion-label><strong> Visitante: {{visitorName}} </strong></ion-label>
          </ion-item>
          
          <ion-item *ngIf="visitaUnica">
            <ion-label><strong>Fecha Visita: {{visitorDate}}</strong></ion-label>
          </ion-item>

          <ion-item *ngIf="!visitaUnica">
              <ion-label><strong>Desde: {{visitorInitialDate}}</strong></ion-label>
            </ion-item>

            <ion-item *ngIf="!visitaUnica">
                <ion-label><strong>Hasta: {{visitorFinalDate}}</strong></ion-label>
              </ion-item>
  
      </div>
  
      <div margin-top>

        <button ion-button block color="dark" (click)="compartirGen()"> <ion-icon name="share-alt"></ion-icon>  &nbsp;&nbsp;&nbsp;Compartir </button>

        <button ion-button block color="dark" tappable (click)="regresar()">
            Regresar
          </button>  
      </div>
  
    </div>
  </ion-content>
  